.container {
  max-width: 800px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}
.search-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}


.search-container > * {
  margin-right: 8px;
}

.user-table {
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}

.user-table td:nth-child(1) {
  width: 40px;
}

.user-table td:nth-child(6) {
  width: 120px;
}

.user-table tr.selected {
  background-color: #f0f0f0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}
